@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
    font-family: 'Space Grotesk', sans-serif;
}
.neon-glow {
    box-shadow: 0 0 15px rgba(196, 255, 13, 0.3);
}
.neon-glow-hover:hover {
    box-shadow: 0 0 20px rgba(196, 255, 13, 0.5);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
